<div class="first-block">
    <div class="first-block-image">
        <img src={{carData.fbimage}} alt="">
    </div>
    <div class="first-block-content">
        <div class="content">
          <div class="fb-heading">
            <h1>{{carData.fbheading}}</h1>
        </div>
        <div class="fb-para">
            <p>{{carData.fbcontent}}</p>
        </div>
        <div class="fb-link">
            <a href="">RESERVE YOUR GENESIS</a>
        </div>  
        </div>
        
    </div>
</div>
<div class="second-block">
    <div class="first-block-content">
        <div class="content">
          <div class="fb-heading">
            <h1>{{carData.sbheading}}</h1>
        </div>
        <div class="fb-para">
            <p>{{carData.sbcontent}}</p>
        </div>
        <div class="fb-link">
            <a href="">RESERVE YOUR GENESIS</a>
        </div>  
        </div>  
    </div>
    <div class="first-block-image">
        <img src={{carData.sbimage}} alt="">
    </div>
</div>
<div class="third-block">
    <img src={{carData.tbimage}} alt="">
</div>