<div class="content">
    <div class="content-box">
        <div class="heading">
            <h1>NEW VEHICLE</h1>
        </div>
        <div class="content-form">
            <div class="box">
                <div class="labeller">
                    <label for="">Model*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.id" name="id">
                </div>
            </div>
            <div class="box">
                <div class="labeller">
                    <label for="">Thumbnail*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.thumbnail" name="thumbnail">
                </div>
            </div>
            <div class="box">
                <div class="labeller">
                    <label for="">View Image*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.tbimage" name="tbimage">
                </div>
            </div>
        </div>
        <div class="content-form">
            <div class="box">
                <div class="labeller">
                    <label for="">fb image*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.fbimage" name="fbimage">
                </div>
            </div>
            <div class="box">
                <div class="labeller">
                    <label for="">fb heading*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.fbheading" name="fbheading">
                </div>
            </div>
            <div class="box">
                <div class="labeller">
                    <label for="">fb content*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.fbcontent" name="fbcontent">
                </div>
            </div>
        </div>
        <div class="content-form">
            <div class="box">
                <div class="labeller">
                    <label for="">sb image*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.sbimage" name="sbimage">
                </div>
            </div>
            <div class="box">
                <div class="labeller">
                    <label for="">sb heading*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.sbheading" name="sbheading">
                </div>
            </div>
            <div class="box">
                <div class="labeller">
                    <label for="">sb content*</label>
                </div>
                <div class="inputter">
                    <input type="text" [(ngModel)]="car.sbcontent" name="sbcontent">
                </div>
            </div>
        </div>
        <div class="content-links">
            <a href=""><button (click)="addCar()">ADD VEHICLE</button></a>
        </div>
    </div>
</div>









